In [1]:
import psycopg2
from sqlalchemy import create_engine, text
import pandas as pd

In [ ]:
#Using port 5433
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5433/postgres')

connection = engine.connect()

In [3]:
df = pd.read_csv('../data/raw_data/50857df3-10ac-49f7-8049-f073e600adf8_Data.csv', nrows=1302)
metadata = pd.read_csv('../data/raw_data/50857df3-10ac-49f7-8049-f073e600adf8_Country - Metadata.csv', skiprows=1331, encoding='latin1')

In [4]:
df.to_sql('df', engine, if_exists='replace', index=False)

302

In [5]:
metadata.to_sql('metadata', engine, if_exists='replace', index=False)

217

In [107]:
connection.rollback()

In [108]:
# Renaming Columns
connection.execute(text('''
ALTER TABLE df
DROP COLUMN "Series Code";
'''))

connection.execute(text(' ALTER TABLE df RENAME COLUMN "Country Name" TO country_name;'))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "Country Code" TO country_code; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "Series Name" TO series_name;'))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2004 [YR2004]" TO yr2004; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2005 [YR2005]" TO yr2005; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2006 [YR2006]" TO yr2006; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2007 [YR2007]" TO yr2007; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2008 [YR2008]" TO yr2008; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2009 [YR2009]" TO yr2009; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2010 [YR2010]" TO yr2010; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2011 [YR2011]" TO yr2011; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2012 [YR2012]" TO yr2012; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2013 [YR2013]" TO yr2013; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2014 [YR2014]" TO yr2014; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2015 [YR2015]" TO yr2015; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2016 [YR2016]" TO yr2016; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2017 [YR2017]" TO YR2017; '))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2018 [YR2018]" TO yr2018;'))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2019 [YR2019]" TO YR2019;'))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2020 [YR2020]" TO yr2020;'))                       
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2021 [YR2021]" TO yr2021;'))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2022 [YR2022]" TO yr2022;'))
connection.execute(text(' ALTER TABLE df RENAME COLUMN "2023 [YR2023]" TO yr2023;'))

In [109]:
# Setting entries with '..' as NULL
connection.execute(text('''
UPDATE df
SET 
    yr2004 = CASE WHEN yr2004 = '..' THEN NULL ELSE yr2004 END,
    yr2005 = CASE WHEN yr2005 = '..' THEN NULL ELSE yr2005 END,
    yr2006 = CASE WHEN yr2006 = '..' THEN NULL ELSE yr2006 END,
    yr2007 = CASE WHEN yr2007 = '..' THEN NULL ELSE yr2007 END,
    yr2008 = CASE WHEN yr2008 = '..' THEN NULL ELSE yr2008 END,
    yr2009 = CASE WHEN yr2009 = '..' THEN NULL ELSE yr2009 END,
    yr2010 = CASE WHEN yr2010 = '..' THEN NULL ELSE yr2010 END,
    yr2011 = CASE WHEN yr2011 = '..' THEN NULL ELSE yr2011 END,
    yr2012 = CASE WHEN yr2012 = '..' THEN NULL ELSE yr2012 END,
    yr2013 = CASE WHEN yr2013 = '..' THEN NULL ELSE yr2013 END,
    yr2014 = CASE WHEN yr2014 = '..' THEN NULL ELSE yr2014 END,
    yr2015 = CASE WHEN yr2015 = '..' THEN NULL ELSE yr2015 END,
    yr2016 = CASE WHEN yr2016 = '..' THEN NULL ELSE yr2016 END,
    yr2017 = CASE WHEN yr2017 = '..' THEN NULL ELSE yr2017 END,
    yr2018 = CASE WHEN yr2018 = '..' THEN NULL ELSE yr2018 END,
    yr2019 = CASE WHEN yr2019 = '..' THEN NULL ELSE yr2019 END,
    yr2020 = CASE WHEN yr2020 = '..' THEN NULL ELSE yr2020 END,
    yr2021 = CASE WHEN yr2021 = '..' THEN NULL ELSE yr2021 END,
    yr2022 = CASE WHEN yr2022 = '..' THEN NULL ELSE yr2022 END,
    yr2023 = CASE WHEN yr2023 = '..' THEN NULL ELSE yr2023 END;
'''))

In [110]:
# Converting columns with numbers as float
connection.execute(text('''
ALTER TABLE df 
ALTER COLUMN yr2004 TYPE FLOAT USING "yr2004"::FLOAT,
ALTER COLUMN yr2005 TYPE FLOAT USING "yr2005"::FLOAT,
ALTER COLUMN yr2006 TYPE FLOAT USING "yr2006"::FLOAT,
ALTER COLUMN yr2007 TYPE FLOAT USING "yr2007"::FLOAT,
ALTER COLUMN yr2008 TYPE FLOAT USING "yr2008"::FLOAT,
ALTER COLUMN yr2009 TYPE FLOAT USING "yr2009"::FLOAT,
ALTER COLUMN yr2010 TYPE FLOAT USING "yr2010"::FLOAT,
ALTER COLUMN yr2011 TYPE FLOAT USING "yr2011"::FLOAT,
ALTER COLUMN yr2012 TYPE FLOAT USING "yr2012"::FLOAT,
ALTER COLUMN yr2013 TYPE FLOAT USING "yr2013"::FLOAT,
ALTER COLUMN yr2014 TYPE FLOAT USING "yr2014"::FLOAT,
ALTER COLUMN yr2015 TYPE FLOAT USING "yr2015"::FLOAT,
ALTER COLUMN yr2016 TYPE FLOAT USING "yr2016"::FLOAT,
ALTER COLUMN yr2017 TYPE FLOAT USING "yr2017"::FLOAT,                       
ALTER COLUMN yr2018 TYPE FLOAT USING "yr2018"::FLOAT,           
ALTER COLUMN yr2019 TYPE FLOAT USING "yr2019"::FLOAT,   
ALTER COLUMN yr2020 TYPE FLOAT USING "yr2020"::FLOAT,    
ALTER COLUMN yr2021 TYPE FLOAT USING "yr2021"::FLOAT,    
ALTER COLUMN yr2022 TYPE FLOAT USING "yr2022"::FLOAT,    
ALTER COLUMN yr2023 TYPE FLOAT USING "yr2023"::FLOAT;    
'''))

In [111]:
#Renaming columns in metadata
connection.execute(text('ALTER TABLE metadata RENAME COLUMN "Code" TO country_code;'))
connection.execute(text('ALTER TABLE metadata RENAME COLUMN "Region" TO region;'))

In [112]:
#Joining region from metadata to df
connection.execute(text('ALTER TABLE df ADD COLUMN region TEXT;'))
connection.execute(text('''
UPDATE df        
SET region = m.region
FROM metadata m
WHERE df.country_code = m.country_code;
      
'''))

In [ ]:
#gdp per capita rankings
connection.execute(text('''
SELECT country_name, yr2022 FROM df
WHERE series_name = 'GDP per capita (constant 2015 US$)'
AND yr2022 IS NOT NULL
ORDER BY yr2022 DESC;
''')).fetchall()

In [ ]:
#Decided to use yr2022 as deciding factor of top 10 countries with highest
#gdp's as entries for 2023 drops alot.
connection.execute(text('''
SELECT 
    series_name, 
    COUNT (yr2023) AS count2020
FROM df
WHERE series_name= 'GDP per capita (constant 2015 US$)'
AND yr2023 IS NOT NULL 
GROUP BY series_name;
''')).fetchall()

[('GDP per capita (constant 2015 US$)', 185)]

In [151]:
#cleaned data
cleaned_data = pd.read_sql('''
SELECT * FROM df
ORDER BY country_name, series_name;
''',connection)

cleaned_data.to_csv('../data/cleaned_data.csv', index=False)

In [150]:
#Data, yearly average for each variable.
total_avg = pd.read_sql('''
SELECT 
    series_name,
    AVG(yr2004) AS avg_2004,
    AVG(yr2005) AS avg_2005,
    AVG(yr2006) AS avg_2006,
    AVG(yr2007) AS avg_2007,
    AVG(yr2008) AS avg_2008,
    AVG(yr2009) AS avg_2009,
    AVG(yr2010) AS avg_2010,
    AVG(yr2011) AS avg_2011,
    AVG(yr2012) AS avg_2012,
    AVG(yr2013) AS avg_2013,
    AVG(yr2014) AS avg_2014,
    AVG(yr2015) AS avg_2015,
    AVG(yr2016) AS avg_2016,
    AVG(yr2017) AS avg_2017,
    AVG(yr2018) AS avg_2018,
    AVG(yr2019) AS avg_2019,
    AVG(yr2020) AS avg_2020,
    AVG(yr2021) AS avg_2021,
    AVG(yr2022) AS avg_2022,
    AVG(yr2023) AS avg_2023
FROM df
GROUP BY series_name;
''',connection)

total_avg.to_csv('../data/total_average.csv', index=False)

In [149]:
#Data, yearly average of each variable for each region
region_avg = pd.read_sql('''
SELECT region, series_name,
    AVG(yr2004) AS avg_2004,
    AVG(yr2005) AS avg_2005,
    AVG(yr2006) AS avg_2006,
    AVG(yr2007) AS avg_2007,
    AVG(yr2008) AS avg_2008,
    AVG(yr2009) AS avg_2009,
    AVG(yr2010) AS avg_2010,
    AVG(yr2011) AS avg_2011,
    AVG(yr2012) AS avg_2012,
    AVG(yr2013) AS avg_2013,
    AVG(yr2014) AS avg_2014,
    AVG(yr2015) AS avg_2015,
    AVG(yr2016) AS avg_2016,
    AVG(yr2017) AS avg_2017,
    AVG(yr2018) AS avg_2018,
    AVG(yr2019) AS avg_2019,
    AVG(yr2020) AS avg_2020,
    AVG(yr2021) AS avg_2021,
    AVG(yr2022) AS avg_2022,
    AVG(yr2023) AS avg_2023
    FROM df
    GROUP BY region, series_name
    ORDER BY region;

''',connection)

region_avg.to_csv('../data/regional_avg.csv', index=False)

In [148]:
#Data for top 10 countries with highest gdps
top_10 = pd.read_sql('''
SELECT * FROM df
WHERE country_name = 'Monaco'
OR country_name = 'Bermuda'
OR country_name = 'Luxembourg'
OR country_name = 'Ireland'           
OR country_name = 'Switzerland'
OR country_name = 'Cayman Islands'
OR country_name = 'Norway'
OR country_name = 'Singapore'
OR country_name = 'United States'
OR country_name = 'Qatar'

''',connection)

top_10.to_csv('../data/top_10_data.csv', index=False)

In [ ]:
#Data, yearly max of each variable for each region
region_max = pd.read_sql('''
SELECT region, series_name,
    MAX(yr2004) AS max_2004,
    MAX(yr2005) AS max_2005,
    MAX(yr2006) AS max_2006,
    MAX(yr2007) AS max_2007,
    MAX(yr2008) AS max_2008,
    MAX(yr2009) AS max_2009,
    MAX(yr2010) AS max_2010,
    MAX(yr2011) AS max_2011,
    MAX(yr2012) AS max_2012,
    MAX(yr2013) AS max_2013,
    MAX(yr2014) AS max_2014,
    MAX(yr2015) AS max_2015,
    MAX(yr2016) AS max_2016,
    MAX(yr2017) AS max_2017,
    MAX(yr2018) AS max_2018,
    MAX(yr2019) AS max_2019,
    MAX(yr2020) AS max_2020,
    MAX(yr2021) AS max_2021,
    MAX(yr2022) AS max_2022,
    MAX(yr2023) AS max_2023
    FROM df
    GROUP BY region, series_name
    ORDER BY region;

''',connection)

region_max.to_csv('../data/regional_max.csv',index=False)

In [ ]:
#Data, yearly min of each variable for each region
region_min = pd.read_sql('''
SELECT region, series_name,
    MIN(yr2004) AS min_2004,
    MIN(yr2005) AS min_2005,
    MIN(yr2006) AS min_2006,
    MIN(yr2007) AS min_2007,
    MIN(yr2008) AS min_2008,
    MIN(yr2009) AS min_2009,
    MIN(yr2010) AS min_2010,
    MIN(yr2011) AS min_2011,
    MIN(yr2012) AS min_2012,
    MIN(yr2013) AS min_2013,
    MIN(yr2014) AS min_2014,
    MIN(yr2015) AS min_2015,
    MIN(yr2016) AS min_2016,
    MIN(yr2017) AS min_2017,
    MIN(yr2018) AS min_2018,
    MIN(yr2019) AS min_2019,
    MIN(yr2020) AS min_2020,
    MIN(yr2021) AS min_2021,
    MIN(yr2022) AS min_2022,
    MIN(yr2023) AS min_2023
    FROM df
    GROUP BY region, series_name
    ORDER BY region;

''',connection)

region_min.to_csv('../data/regional_min.csv',index =False)